.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.hidden {
    visibility: hidden;
}