.Todos {
    grid-column: 3/ -1;
    grid-row: 3/ -1;
    position: relative;
    text-align: right;
}
.todos-main-text {
    cursor: pointer;
}
.todos-main-text:hover {
    color: var(--light-low);
}
.add-todo-wrapper {
    background-color: var(--dark);
    color: var(--light);
    font-size: 1.1rem;
    gap: 1.5rem;
    width: 20rem;
    height: 12rem;
    position: absolute;
    bottom: 3rem;
    right: 0;
    border-radius: .4rem;
}
.add-todo-btn {
    background-color: var(--light-blue);
    font-weight: bold;
    border-radius: 4px;
    padding: .8rem .6rem;
    cursor: pointer;
}
.add-todo-btn:hover {
    background-color: var(--mild-blue);
}
.main-todos-container {
    background-color: var(--dark);
    color: var(--light);
    width: 20rem;
    padding: 1.5rem 1rem;
    position: absolute;
    bottom: 3rem;
    right: 0;
    border-radius: .4rem;
}
.create-todo-input {
    font-size: 1rem;
}
.todo-item {
    margin-bottom: 1rem;
}
.todo-item label{
    font-size: 1.1rem;
    cursor: pointer;
}
.todo-item input[type="checkbox"]{
    margin-right: 10px;
    cursor: pointer;
    border: 1.5px solid var(--white);
    height: .8rem;
    width: .8rem;
    background-color: transparent;
    appearance: none;
    position: relative;
}
.todo-item input[type="checkbox"]:checked::before{
    content: "\2714";
    font-size: 15px;
    font-weight: 500;
    left: 5%;
    top: -50%;
    position: absolute;
}
.todo-item label.strike-grey{
    color: var(--light-low);
    text-decoration: line-through;
}
.todo-icon-close {
    margin-left: auto;
    cursor: pointer;
}
.loader-wrapper{
    width: 102px;
    height: 56.5px;;
    object-fit: cover;
}